---
import { Image } from "astro:assets";
import Img1 from "../../assets/images/service.png";

import { CardServices } from "../shared/services-cards";

const missionData = [
    {
        title: "Facial de hidratación",
        text1: "* Hidrata, nutre, suaviza, ilumina y revitaliza.",
        text2: "* Restaura la humedad natural mejorando su suavidad, elasticidad y brillo.",
        text3: "* Ideal para piel seca o deshidratada.",
    },
    {
        title: "Facial limpieza profunda",
        text1: "* Limpia, purifica, equilibra, renueva y desintoxica.",
        text2: "* Elimina impurezas, puntos negros y exceso de grasa.",
        text3: "* Deja la piel limpia y equilibrada.",
    },
];
---

<section class="section services" id="Services">
    <div class="section__container services__container">
        <div class="services__image">
            <Image
                src={Img1}
                alt="statistics"
                class="w-full h-auto max-h-[500px] max-w-[300px] mx-auto md:mx-0 md:max-h-none md:max-w-none"
            />
        </div>
        <div class="services__information">
            <h1 class="services__title">Nuestros Servicios:</h1>
            <p class="services__text">
                En Larezza no solo cuidamos tu piel, cuidamos de ti.
            </p>
            <div class="services__cards">
                {missionData.map((card) => <CardServices {...card} />)}
            </div>
        </div>
    </div>
</section>

<style>
    @reference "@/styles/app.css";

    .services {
        @apply bg-foreground bg-gradient-to-t to-foreground from-foreground;
    }

    .services__container {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[2fr_3fr] gap-10 py-10 place-items-center;
        /* @apply bg-foreground bg-gradient-to-b to-white; */
    }

    .services__image {
        @apply w-full place-content-center;
    }

    .services__information {
        @apply w-full text-center md:text-left py-10 md:py-0;
    }

    .services__title {
        @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl text-primary font-medium mb-3;
    }

    .services__text {
        @apply text-xl lg:text-2xl text-primary mb-6 md:mb-0 lg:mb-6;
    }

    .services__cards {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-4;
    }
</style>


<script>
  addEventListener('DOMContentLoaded', () => {
    const info = document.querySelector('.services__information');
    const image = document.querySelector('.services__image');

    (info as HTMLElement).style.opacity = '0';
    (image as HTMLElement).style.opacity = '0';

    const infoObserver = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && info
          ? info.classList.add('fadeIn')
          : null;
      },
      { threshold: 0 }
    );
    info && infoObserver.observe(info);

    const imageObserver = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && image
          ? image.classList.add('fadeIn')
          : null;
      },
      { threshold: 0 }
    );
    image && imageObserver.observe(image);


  });
</script>
