<footer class="section footer">
  <div class="section__container footer__container">
    <p>Footer content goes here</p>
  </div>
</footer>

<style>
  @reference "@/styles/app.css";

  .footer {
    @apply h-30 border-t border-border pt-10 bg-[#eee]/50;
  }
</style>
