---
import FacebookIcon from "../../assets/icons/facebook.svg";
import InstagramIcon from "../../assets/icons/instagram.svg";
import TiktokIcon from "../../assets/icons/tiktok.svg";
import Img from "../../assets/images/logo.svg";
---

<footer class="section footer">
  <div class="section__container footer__container">
    <div class="footer__information">
      <div class="footer__title">
        <h1 class="footer__text">
          Belleza consciente, glow saludable y bienestar como estilo de vida.
        </h1>
      </div>
      <div class="footer__rights">
        <div class="footer__logo"><Img /></div>
        <div class="footer__social">
          <a href="https://www.facebook.com/share/15zPHxqpu2/?mibextid=wwXIfr" 
            target="_blank" 
            class="transition-all duration-150 ease-in-out hover:scale-110 hover:cursor-pointer">
            <FacebookIcon />
          </a>
          <a href="https://www.instagram.com/larezza.mx?igsh=dW43eWQwN3BuczEz" 
            target="_blank" 
            class="transition-all duration-150 ease-in-out hover:scale-110 hover:cursor-pointer">
            <InstagramIcon />
          </a>
          <a href="https://www.tiktok.com/@larezza.mx" 
            target="_blank"
            class="transition-all duration-150 ease-in-out hover:scale-110 hover:cursor-pointer">
            <TiktokIcon />
          </a>
        </div>
        <h1 class="footer__autor">
          © 2025 Spa Larezza. Todos los derechos reservados.
        </h1>
      </div>
    </div>
  </div>
</footer>

<style>
  @reference "@/styles/app.css";

  .footer {
    @apply border-t border-border py-15 bg-primary;
  }

  .footer__information {
    @apply grid grid-cols-1 md:grid-cols-[4fr_3fr] gap-10;
  }

  .footer__title {
    @apply w-full bg-muted-foreground rounded-3xl flex items-center justify-center py-8 sm:py-15 md:py-0 px-4 xl:mr-10 text-center;
  }

  .footer__text {
    @apply text-primary text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  .footer__rights {
    @apply w-full grid place-items-center lg:place-items-start;
  }

  .footer__logo {
    @apply mb-4 md:mb-6 grid place-content-center md:place-content-start;
  }

  .footer__social {
    @apply max-w-sm mx-auto md:mx-0 flex items-center justify-center gap-6 mb-6 md:mb-8 md:justify-start;
  }

  .footer__autor {
    @apply text-accent text-center lg:text-left text-base xl:text-xl;
  }
</style>

<script>
  addEventListener('DOMContentLoaded', () => {
    const footerAnim = document.querySelector('.footer');

    (footerAnim as HTMLElement).style.opacity = '0';
    
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (!entry) return;
        const isVisible = entry.isIntersecting;
        isVisible && footerAnim ? footerAnim.classList.add('fadeIn') : null;
      },
      { threshold: 0 }
    );
    footerAnim ? observer.observe(footerAnim) : null;
  });
</script>