---
import Img from "../../../assets/images/logo-header.svg";
---

<header class="section header">
  <div class="section__container header__container">
    <Img />
    <a class="header__option" href = "index.html#Header">Inicio</a>
    <a class="header__option" href = "index.html#Services">Servicios</a>
    <a class="header__option" href = "index.html#AboutUs">Nosotros</a>
    <button class="header__button">Agenda tu cita</button>
  </div>
</header>

<style>
  @reference "@/styles/app.css";

  .header {
    @apply h-16 shadow-md flex place-items-center justify-between bg-[#eee]/50;
  }

  .header__container {
    @apply w-full text-primary-foreground;
  }

  .header__option{
    @apply hover:underline;
  }

  .header__button{
    @apply text-white bg-primary-foreground py-2 px-5 rounded-full cursor-pointer;
  }
</style>
