<header class="section header">
  <div class="section__container header__container">Contenido del header</div>
</header>

<style>
  @reference "@/styles/app.css";

  .header {
    @apply h-16 shadow-md flex place-items-center justify-between bg-[#eee]/50;
  }

  .header__container {
    @apply w-full;
  }
</style>
