---
import "@/styles/app.css";

import { config } from "@/lib/config";
import Footer from "@/ui/shared/footer.astro";
import Header from "@/ui/shared/header.astro";

import '@fontsource-variable/montserrat';

interface Props {
  title?: string;
  description?: string;
}

const { title = "Inicio", description = config.description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | {config.brand}</title>
  </head>
  <body>
    <Header /> 
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: 'Bacasime Antique', serif;
  }
  main {
    @apply overflow-hidden;
  }
</style>